{{/* Load hero image from static with PNG/JPG fallback */}}
{{ $png := "/images/hero/nextmtn-hero.png" }}
{{ $jpg := "/images/hero/nextmtn-hero.jpg" }}
{{ $src := "" }}
{{ if (fileExists (printf "static%s" $png)) }}
    {{ $src = $png }}
{{ else if (fileExists (printf "static%s" $jpg)) }}
    {{ $src = $jpg }}
{{ end }}

{{ if $src }}
<div class="brand-hero">
    <img class="brand-hero__img" src="{{ $src }}" alt="NextMtn at golden hour on the coast">
    <div class="brand-hero__overlay"></div>
    <div class="brand-hero__content">
        <div class="brand-hero__title">Next Mountain Overland</div>
        <div class="brand-hero__subtitle">Exploring in our F‑550 RV while preparing for a 2027 Pan‑American moto journey</div>
    </div>
</div>
{{ end }}
